body {
    background-color: white;
    height: 100%;
}


// LADNING PAGE

.headingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/SANFRAN.png");
    background-size: cover;
	background-repeat: no-repeat;
    height: 400px;
    color: white;
    margin: auto;
    h1 {
        color: white;
    }
}
// LOGIN PAGE

.loginContainer {
    background-image: url("../images/downtown.png");
    background-size: 900px;
 }

.loginButtons {
    margin-top: 25px;
    margin: auto;
    width: 190px;
    // background-color: red;
}

.loginForm {

    margin-left: 75px;
    padding-right: 50px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    button {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h6 {
        padding-top: 25px;
    }
}

.credentials {
    padding-right: 75px;
    border-right: 2px solid rgb(146, 146, 146);
    input {
    width: 300px;
    }
}

.googleCredentials {
    padding-top: 18px;
    padding-left: 75px;
}


// LIST PAGE

.listTable {
    width: 100%;
    td {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

// ADD STAY

.addStayForm {
    width: 40%;
    padding-left: 25px;
}

.addMap {
    margin-top: 75px;
    margin-left: 25px;
    margin-right: 0;
}

.individualImage {
    img {
        height: 300px;
        width: 500px;
    }
}
 