body {
    background-color: white;
    height: 100%;
}

// NAV



.navbar {
    background-color: #f4f4f4;
    a {
        color: #373737;

    }
}


// LADNING PAGE

.headingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/SANFRAN.png");
    background-size: cover;
	background-repeat: no-repeat;
    height: 400px;
    color: white;
    margin: auto;
    h1 {
        color: white;
    }
}


.cardContainer {
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.landingCard {
    margin-left: 10px;
    h5 {
        text-align: center;
        color: black;
        // border-bottom: 1px solid black;
    }
}
// LOGIN PAGE

.loginContainer {
    background-image: url("../images/downtown.png");
    background-size: 900px;
 }

.loginButtons {
    margin-top: 25px;
    margin: auto;
    width: 190px;
    // background-color: red;
}

.loginForm {

    margin-left: 75px;
    padding-right: 50px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    button {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h6 {
        padding-top: 25px;
    }
}

.credentials {
    padding-right: 75px;
    border-right: 2px solid rgb(146, 146, 146);
    input {
    width: 300px;
    }
}

.googleCredentials {
    padding-top: 18px;
    padding-left: 75px;
}


// LIST PAGE

.listNavHeader {
    background-color: #dcd0c0;;
    h4 {
        margin-bottom: 0;
        color: #c0b283;
        text-align: center;
    }
}

.navTabs {
    background-color: #dcd0c0;
    padding-left: 25px;
    a {
        color: #c0b283;
    }
}

.listTable {
    width: 100%;
    td {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

// ADD STAY

.addStayForm {
    width: 40%;
    padding-left: 25px;
}

.addMap {
    margin-top: 75px;
    margin-left: 25px;
    margin-right: 0;
}

.individualImage {
    img {
        height: 300px;
        width: 500px;
    }
}

footer {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

// STAY LIST PAGE

.delete {
    color: rgb(190, 2, 2);
}
 