body {
    background-color: white;
    height: 100%;
    font-family: 'Sanchez', serif;
}

// NAV

.navbar {
    background-color: #f4f4f4;
    box-shadow: 0 5px 5px -5px #333;

    a {
        color: #373737;
    }
    strong {
        font-family: 'Marck Script', cursive;
        font-size: 1.25em;
        color:#c0b283
    }
}


// LADNING PAGE

.landingContainer {
    width: 100%;
}

.headingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-image: url("../images/boston.jpg");
    background-size: cover;
	background-repeat: no-repeat;
    height: 400px;
    color: white;
    margin: auto;
    h1 {
        color: white;
        font-family: 'Playfair Display SC', serif;
    }
    strong {
        color:#c0b283
    }
}

.headerText {
    position: absolute;
    left: 75px;
    top: 40px;
}

.cardContainer {
    width: 100%;
    margin: auto;
    margin-top: 25px;
    // margin-left: 15px;
    // margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.landingCard {
    margin-left: 10px;
    width: 33%;
    h5 {
        text-align: center;
        color: black;
        font-family: 'Playfair Display SC', serif;
        text-decoration: underline    
        // border-bottom: 1px solid black;
    }
}

// LOGIN PAGE

.loginContainer {
    background-image: url("../images/downtown.png");
    background-size: 900px;
 }

.loginButtons {
    margin-top: 25px;
    margin: auto;
    width: 190px;
    // background-color: red;
}

.loginForm {

    margin-left: 75px;
    padding-right: 50px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    button {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h6 {
        padding-top: 25px;
        font-family: 'Playfair Display SC', serif;

    }
}

.credentials {
    padding-right: 75px;
    border-right: 2px solid rgb(146, 146, 146);
    input {
    width: 300px;
    }
}

.googleCredentials {
    padding-top: 18px;
    padding-left: 75px;
}




// LIST PAGE

.listContainer {
    background-color: #f4f4f4;
    margin-top: 0px;
    .listTable {
        width: 90%;
        margin: auto;
        // margin-top: 25px;
        padding-bottom: 25px;
    }
    .tableRowData:hover {
        box-shadow: 12px 0 15px -4px rgba(99, 98, 97, 0.4), -12px 0 15px -4px rgba(99, 98, 97, 0.4);
    }
    .tableRow {
        background-color: white;
        height: 80px;
        box-shadow: inset 0px 1px 3px #7c7b7b;
    }
    .tableRowHeader {
        background-color: #373737;
        color: white;
        box-shadow: inset 0px 1px 3px white;
        height: 73px;

        border-top-left-radius: 25px;
    }

    .tableRowFooter {
        background-color: #373737;
        height: 15px;
        border-bottom-left-radius: 25px;
    }

    a {
        text-decoration: none;
        color: #373737;
    }
    .icon {
        opacity: 0.75;
        color: #c0b283;
    }
}

table {
    box-shadow: inset 0px 1px 3px #7c7b7b;
    border-top-left-radius: 25px;

}

.roundedTable {
    border-top-left-radius: 25px;
}

.listNavHeader {
    background-image: url("../images/nashville-skyline.png");
    background-color: #f4f4f4;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 2px -2px gray;
    h4 {
        margin-bottom: 0;
        color: #c0b283;
        text-align: center;
        font-family: 'Playfair Display SC', serif;

    }
}

.navBackground {
    background-color: #f4f4f4; 
}

.secondaryListNav {
    background-color: #f4f4f4;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid rgb(177, 177, 177);
    padding-top: 25px;
    a {
        padding-top: 0px;
        color: #c0b283;
    }
    .active {
        border-bottom: 2px solid #dcd0c0;
    }
}

.nav-tabs {
    width: 90%;
    margin: auto;  
    background-color: #f4f4f4;

}

.nav-tabs {
    position: absolute;
    background-color: #f4f4f4;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
}

.listTable {
    width: 100%;
    td {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

.delete {
    color: rgb(190, 2, 2);
    opacity: 0.5;
    cursor: pointer;
}

.delete:hover {
    color: rgb(190, 2, 2);
    opacity: 1;
}

th {
    padding: 5px;
    font-family: 'Playfair Display SC', serif;
    cursor: pointer;
    .price {
        cursor: pointer;
    }
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
    display: inline-block;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid white;
    display: inline-block;
}



//////// MAP PAGE //////////////

.mapAndSearchContainer {
    background-color: #f4f4f4;
    padding-bottom: 25px;
}
.mapContainer {
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
}

.search {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.viewController {
    width: 25%;
    // border: 1px solid black;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: white;
    box-shadow: inset 0px 1px 3px #7c7b7b;
    
    
    h5 {
        box-shadow: inset 0px 1px 3px white;
        // padding-left: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #373737;
        border-top-left-radius: 25px;
        color: white;
        text-align: center;
        font-family: 'Playfair Display SC', serif;


    }
}

.searchDiv {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 90%;
    margin: auto;
    background-color: #f4f4f4;
}

.radios {
    margin-left: 25px;
    margin-top: 25px;
}

.radio {
    margin-top: 10px;
    span {
        margin-left: 7px;
    }
}

.selectCat {
    font-size: 1.25em;
}

/////////// ADD STAY ///////////////

// .headerContainer {
//     background-image: url("../images/sanFran.jpg");
//     // background-size: 900px;
//     height: 250px;
//     background-size: cover;
//     background-repeat: no-repeat;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     margin: auto;
//     color: white;
//     box-shadow: 0 5px 5px -5px #333;
//     // border-bottom: solid 10px rgba(218, 226, 98, 0.10);
// }

.formMapContainer {
    background-color: #f4f4f4;
}

.modal-header {
    background-color: #f4f4f4;
}

.modal-footer {
    background-color: #f4f4f4;
}

.modal-body {
    label {
        margin: 10px;

    }
}

.addStayHeader {
    background-color: rgba(245, 241, 241, 0.75);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 50%;
    // margin-left: 55px;
    margin-top: 75px;
    margin-bottom: 25px;
    border-radius: 5px;

}

.addMainBody {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin: auto;
    // position: relative;
    background-image: url("../images/san-fran-large.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        color: white;
        font-family: 'Playfair Display SC', serif;
    }
    strong {
        color:#c0b283;
    }
}

.addHeaderContainer {
    width: 90%;
    margin: auto;
}

.addHeader {
    margin-top: 125px;
    margin-left: 115px;
    display: inline-block;
    // position: absolute;
    // right: 250px;
    // top: 125px;
}

.addSearch {
    width: 90%;
    margin: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
    input {
        margin-top: 25px;
    }
}

.addStayHeaderText {
    width: 90%;
    margin-left: 25px;
    // display: inline;
    h5 {
        padding-top: 20px;
        font-family: 'Playfair Display SC', serif;

    }
    p {
        padding-bottom: 15px;
        margin-bottom: 0;
    }
}

.addStayForm {
    width: 40%;
    // padding-left: 25px;
    padding-right: 50px;
    height: 250px;
    box-shadow: 4px 0 5px -5px #333;
    label {
        color: black;
    }
    input {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    button {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}

.searchInput:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 20px;
}

.addMap {
    justify-content: center;
    margin: 0 auto;
}

.formMapContainer {
    width: 90%;
    background-color: rgba(245, 241, 241, 0.75);
    color: #f4f4f4;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    ng-map {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}


footer {
    text-align: center;
    // padding-top: 25px;
    // padding-top: 25px;
}

//////////// INDIVIDUAL PAGE ///////////////

.individualImage {
    img {
        height: 200px;
        width: 80%;
        display: block;
        margin: auto;
    }
}

.individualStayPage {
    background-image: url("../images/miami.jpg");
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;

}

.individualStayContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: auto;
    // padding-bottom: 25px;
    border-radius: 5px;

    // padding-top: 25px;
    // margin-top: 25px;
    // background-size: 900px;
    background-color: rgba(245, 241, 241, 0.75);
    h3 {
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }
}

.individualCard {
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 500px;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    h6 {
        padding: 10px;
        padding-left: 0px;
        margin-bottom: 0;
        font-weight: bold;
        font-family: 'Playfair Display SC', serif;

    }
    span {
        padding-left: 10px;
        white-space: pre-wrap;
    }
    .viewSite {
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        width: 80%;
        text-align: center;
        margin: auto;
    }
    a {
        color: #373737;
        text-decoration: none;
        cursor: pointer;
    }
    button {
        display: block;
        margin: auto;
        width: 100px;
        // margin-left: 40px;
        margin-bottom: 25px;
        a {
            color: white;
        }
    }
}

.individualDetail {
    width: 80%;
    height: 75px;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #f4f4f4;
}

.individualDetailNotes {
    width: 80%;
    height: 125px;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #f4f4f4;
}

.viewSite {
    a {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.individualMapContainer {
    align-self: flex-start;
    width: 60%;   
    margin-top: 35px;
    h6 {
        font-weight: bold;
        text-align: center;
        font-family: 'Playfair Display SC', serif;

        // padding: 10px;
    }

    ng-map {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}
.individualMap {
    margin: 0 auto;
    width: 500px; 
    height: 325px;
}



//////////// EDIT PAGE ///////////////

.formContainer {
    width: 90%;
    margin: auto;
    margin-top: 25px;
    background-color: #f4f4f4;
    button {
        margin-left: 25px;
    }
}

.formInternalContainer {
    width: 90%;
    margin: auto;
    background-color: white;
}

form {
    width: 90%;
    margin: 25px;
    margin-bottom: 0px;
}

.leftForm {
    width: 40%;
    margin-right: 50px;
}

.rightForm {
    width: 40%;
}

.editOption {
    padding-top: 10px;
    padding-bottom: 10px;
} 







 