<div class="stayHeader">
        <h4>{{title}}</h4>
</div>
<div>
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Image Url:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" ng-model="stay.url" ng-value="url">
            <label for="exampleFormControlInput1">Name:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" ng-model="stay.name" ng-value="name">
            <label for="exampleFormControlInput1">Address:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" ng-model="stay.address" ng-value="address">
            <label for="exampleFormControlInput1">Website:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" ng-model="stay.website" ng-value="website">
            <label for="exampleFormControlSelect1">Type:</label>
                <select class="form-control" id="exampleFormControlSelect1" ng-model="stay.type">
                    <option>Hotel</option>
                    <option>AirBnb</option>
                    <option>Campsite</option>
                </select>
            <label for="exampleFormControlSelect1">Your Review:</label>
                <select class="form-control" id="exampleFormControlSelect1" ng-model="stay.review">
                    <option>Stay here again</option>
                    <option>Okay, but not great</option>
                    <option>Run away</option>
                </select>
            <label for="exampleFormControlInput1">Personal Note:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Add a personal note about your stay..." ng-model="stay.note">
        </div>
        <button type="button" class="btn btn-secondary" ng-click="updateStay()">UPDATE</button>
    </form>
<div>