<div class="landingContainer">
    <div class="headingContainer">
        <h1><i>OUR</i><strong>STAY</strong></h1>
        <p>Track your travels within one simple platform.</p>
        <button type="button" class="btn btn-secondary btn-lg" ng-click="">GET STARTED!</button>
    </div>
    <div>
        <div class="landingCard" id="hotelsCard">
            <h5>Hotels</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat mattis augue. Nunc eget sem eu nulla ultrices iaculis eu pulvinar enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec justo placerat, varius tortor et, laoreet erat. Quisque at mauris dictum tellus pellentesque sagittis id sed tortor. </p>
        </div>
        <div class="landingCard" id="airbnbCard">
            <h5>AirBnb</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat mattis augue. Nunc eget sem eu nulla ultrices iaculis eu pulvinar enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec justo placerat, varius tortor et, laoreet erat. Quisque at mauris dictum tellus pellentesque sagittis id sed tortor. </p>
        </div>
        <div class="landingCard" id="campsiteCard">
            <h5>Campsites</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat mattis augue. Nunc eget sem eu nulla ultrices iaculis eu pulvinar enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec justo placerat, varius tortor et, laoreet erat. Quisque at mauris dictum tellus pellentesque sagittis id sed tortor. </p>
        </div>
    </div>

</div>