<div class="landingContainer">
    <div class="headingContainer">
        <div class="headerText">
            <h1><i>OUR</i> <strong> STAY</strong></h1>
            <p>Track your travels within <strong>one simple platform.</strong></p>
        </div>
    </div>
    <div class="cardContainer">
        <div class="landingCard" id="hotelsCard">
            <h5><strong>Hotels</strong></h5>
            <p> (ho·tel) n, An establishment providing accommodations, meals, and other services for travelers and tourists.</p>
        </div>
        <div class="landingCard" id="airbnbCard">
            <h5><strong>AirBnbs</strong></h5>
            <p> (air·b·n·b) n, Hosts list and rent out their unused spaces, and travelers search for and book accommodations.</p>
        </div>
        <div class="landingCard" id="campsiteCard">
            <h5><strong>Campsites</strong></h5>
            <p> (camp·site) n, A place used for camping.</p>
        </div>
    </div>

</div>