<h2>Login</h2>

<h6>Username:</h6>
<input type="text" class="form-control" id="email" ng-model="user.email" autofocus="true">

<h6>Password:</h6>
<input type="text" class="form-control" id="password" ng-model="user.password">

<button type="button" class="btn btn-secondary" ng-click="loginWithEmail()">LOGIN</button>
<button type="button" class="btn btn-secondary" ng-click="registerNewUser()">REGISTER</button>
<img id="googleSignIn" ng-src="../images/btn_google_signin_light_normal_web.png" ng-click="googleLoginAuth()"/>


