
<!-- <nav ng-controller="NavCtrl">
    <div class="navContainer">
        <div class="navbar flex-wrap">
            <a href="#!/" class="logo">
                <img src="{{logo}}" alt="OurStay" width="75px" height="75px">
            </a>
            <ul>
                <li ng-repeat="item in navBar">
                    <a href="{{item.url}}" ng-click="navAuth(item.name)">{{item.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<nav class="navbar" ng-controller="NavCtrl">
    <ul class="nav justify-content-end">
        <li class="nav-item" ng-repeat="item in navBar"> 
            <a class="nav-link" href="{{item.url}}">{{item.name}}</a>
        </li>
    </ul>
</nav>

