
<nav class="align-items-end listNavHeader">
    <h4>PAST STAYS</h4>
    <div class="navTabs">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#!/list"><strong style="color: #373737">List</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/map">Map</a>
            </li>
        </ul>
    </div>
</nav>
<div class="listContainer">
    <div class="searchDiv">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="searchTerm.searchTerm">
    </div>
    <!-- <div class="d-flex flex-column list">
        <div class="d-flex flex-row justify-content-between stayCard" ng-repeat="stay in stays | filter: searchTerm.searchTerm">
            <i ng-class="{'fas fa-tree fa-2x': stay.type == 'Campsite', 'fas fa-home fa-2x': stay.type == 'AirBnb', 'fas fa-building fa-2x': stay.type == 'Hotel'}"></i>
            <a href="#!/stay/{{stay.stayId}}">{{stay.name}}</a>
            <h6>{{stay.review}}</h6>
            <a href="#" class="delete" ng-click="deleteStay(stay.stayId)"><i class="fas fa-minus-circle fa-2x delete" ng-click=""></i></a>
        </div>
    </div> -->
    <table class="listTable" cellspacing="10">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Review</th>
            <th>Price / Night</th>
        </tr>
        <tr ng-repeat="stay in stays | filter: searchTerm.searchTerm">
            <td width="10%" align="center">
                <i ng-class="{'fas fa-tree fa-2x': stay.type == 'Campsite', 'fas fa-home fa-2x': stay.type == 'AirBnb', 'fas fa-building fa-2x': stay.type == 'Hotel'}"></i>
            </td>
            <td width="30%">
                <a href="#!/stay/{{stay.stayId}}">{{stay.name}}</a>  
            </td>
            <td width="30%">
                <h6>{{stay.review}}</h6>
            </td>
            <td width="20%">
                    <h6>${{stay.price}}</h6>
                </td>
            <td width="10%" align="center">
                <a class="delete" ng-click="deleteStay(stay.stayId)"><i class="fas fa-minus-circle fa-2x delete"></i></a>
            </td>
       </tr>
    </table>
</div>